{% extends '@App/base.html.twig' %}

 {% form_theme edit_form _self %}

    {% block button_widget %}
        {% set label = 'Edit news' %}
        {% set attr = attr|merge({class: (attr.class|default('btn-default') ~ ' btn')|trim}) %}
        <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</button>
    {% endblock button_widget %}

{% block content %}

    <div class="col-md-6">
        <h1>Edit News</h1>

        {{ form(edit_form) }}

    </div>

    <div class="col-md-12" align="center">
        <hr>
        <a class="btn btn-default btn-lg" href="{{ path('news_index') }}">Back to the list</a>
    </div>

{% endblock content%}
